#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common-error {
  margin: 0;
  padding: 0px;
}

.common-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entry-select {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.functionalities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.help-button {
  margin-left: auto;
}

.help-section {
  font-size: 1.15em;
  line-height: 1.8;
  max-width: 1500px;
  margin: 0 auto;
  padding: 2em 1em;
  text-align: left;
}

.help-section strong {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  color: #ffe082;
  letter-spacing: 0.5px;
}

.help-section hr {
  margin: 1.5em 0;
  border: none;
  border-top: 1px solid #888;
}

.help-section div {
  margin-bottom: 0.5em;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.remove-button:hover {
  border-color: #ccc
}

.screwup-input {
  width: 450px;
  font-size: 0.8em
}

.screwup-inputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  gap: 5em;
  margin: 2em 0;
  padding: 2em;
}

.screwup-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #555555;
  font-weight: normal;
  font-size: 0.8em;
}

.screwup-list {
  margin: 1em 10px;
}

.selected-actions {
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
}

.selected-actions.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.suggestions {
  list-style-type: none;
  margin: 0px 10px;
  padding: 0px 10px;
  border: 1px solid #ccc;
  background-color: #555555;
  max-height: 350px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  width: 428px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.suggestions li:hover {
  background-color: #ccc;
}

.suggestions li.selected {
  background-color: #bbb; /* Highlight the selected suggestion */
}

.table-entry {
  line-height: 1.5;
  margin-bottom: 1em;
}

.table-entry:last-child {
  margin-bottom: 0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
